<footer class="footer has-background-primary has-text-white">
    <div class="container">
        <div class="level">
            <div class="level-left has-text-centered">
                <div class="level-item">
                    <a href="/" class="has-text-white">Graft</a>
                    &nbsp;&copy;
                    {{ 'now' | date: "%Y" }}
                </div>
            </div>
            <div class="level-right has-text-centered">
                <a href="/terms.html" class="level-item has-text-white">Terms</a>
                <a href="/privacy.html" class="level-item has-text-white">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>
