<footer class="footer has-background-primary has-text-white">
    <div class="container">
        <div class="level">
            <div class="level-left has-text-centered">
                <div class="level-item">
                    <a href="/" class="has-text-white">graft</a>
                    &nbsp;&copy;
                    {{ 'now' | date: "%Y" }}
                </div>
            </div>
            <div class="level-right has-text-centered">
                <a href="https://graftapp.statushub.io" class="level-item has-text-white" target="_blank">Status</a>
                <a href="{{ /terms | relative_url }}" class="level-item has-text-white">Terms</a>
                <a href="{{ /privacy | relative_url }}" class="level-item has-text-white">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>
