<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-2 has-text-weight-light">{{ page.title }}</h1>
            <p class="subtitle">{{ page.subtitle }}</p>
            {% if page.hero_link %}
                <a href="{{ page.hero_link | relative_url }}" class="button is-link is-inverted is-large">{{ page.hero_link_text }}</a>
            {% endif %}
        </div>
    </div>
</section>
