<section class="hero is-medium has-text-primary">
    <div class="hero-body">
        <div class="container">
            <p class="title has-text-primary has-text-centered has-text-weight-normal">
                <strong class="has-text-weight-bold">features</strong> you'll love
            </p>
            <div class="columns is-multiline is-centered">
                <div class="column is-4 has-text-centered p-4 mb-2">
                    <div class="icon callout-icon">
                        <i class="fas fa-key fa-4x"></i>
                    </div>
                    <p class="title is-5 has-text-primary">privacy by default</p>
                    <div class="content">
                        <p>
                            We take privacy seriously. All content posted to
                            Graft is encrypted in transit and again at rest.
                        </p>
                    </div>
                </div>
                <div class="column is-4 has-text-centered p-4 mb-2">
                    <div class="icon callout-icon">
                        <i class="fas fa-link fa-4x"></i>
                    </div>
                    <p class="title is-5 has-text-primary">linkable notes</p>
                    <div class="content">
                        <p>
                            Any two notes within a project can be linked to highlight related ideas.
                        </p>
                    </div>
                </div>
                <div class="column is-4 has-text-centered p-4 mb-2">
                    <div class="icon callout-icon">
                        <i class="fas fa-infinity fa-4x"></i>
                    </div>
                    <p class="title is-5 has-text-primary">no note limits</p>
                    <div class="content">
                        <p>
                            Graft doesn't put a limit on your knowledge. Create
                            as many notes as you need.
                        </p>
                    </div>
                </div>
                <div class="column is-4 has-text-centered p-4 mb-2">
                    <div class="icon callout-icon">
                        <i class="fas fa-users fa-4x"></i>
                    </div>
                    <p class="title is-5 has-text-primary">collaborate with your team</p>
                    <div class="content">
                        <p>
                            Graft includes the collaborative tools needed to help
                            your team cultivate new knowledge.
                        </p>
                    </div>
                </div>
                <div class="column is-4 has-text-centered p-4 mb-2">
                    <div class="icon callout-icon">
                        <i class="fas fa-balance-scale-right fa-4x"></i>
                    </div>
                    <p class="title is-5 has-text-primary">impact score</p>
                    <div class="content">
                        <p>
                            Graft analyzes the relationships between notes to
                            measure how important they are to the network.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>