@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$family-sans-serif: 'Roboto', sans-serif;
$primary: #34495E;
$link: #34495E;

@import "../node_modules/bulma/bulma.sass";

html {
    background-color: #F5F5F5;
    
    font-size: 12px;
    @include desktop {
        font-size: 16px;
    }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  line-height: 1.6;
}

hr {
    background-color: #d9d9d9;
}

main {
  flex: 1;
}

.index-hero {
    .subtitle {
        max-width: 600px;
        line-height: 1.6;
    }   
}

@include desktop {
    .navbar-item {
        &.is-hoverable:hover {
            .navbar-dropdown {
                display: block;
            }
        }
    }
}

.callout {
    &-icon {
        width: 4rem;
        height: 4rem;
        margin-bottom: 1rem;
    }
}

@import "syntax";
